@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    font-family: "Plus Jakarta Sans", sans-serif !important;
}
.color{
    color: orange;
}


.container{
    height: 80vh;
}
.navbar{
    height: 5rem;
    background-color: white !important;
}
.logo-link{
    text-decoration: none;
    margin-top: 5px;
    padding-right: 1rem;
}
.navbar-logo{
    font-size: 1.4rem ;
    font-weight: 800;
}


/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay{
    opacity: 0;
    transition: .3s;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
    .listing-card h5, .listing-card p{
        text-decoration: none;
    }
}

/* Edit page */

.edit-desc{
    resize: none;
}

/* Showpage */

.show-img{
    height: 20rem;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-media{
    display: flex;
    gap: 1rem;
}
.company-copyrights{
    margin-top: 1rem;
}


/* Hero section  */

.bg-gradient-blur {
    position: absolute;
    top: -200px;
    left: 50%;
    transform: translateX(-50%) rotate(30deg);
    width: 600px;
    height: 400px;
    background: linear-gradient(to top right, #fcef89, #ff80b5);
    filter: blur(100px);
    opacity: 0.3;
    z-index: -1;
  }
  .bg-gradient-blur-bottom {
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 400px;
    background: linear-gradient(to top right, #fcef89, #ff80b5);
    filter: blur(100px);
    opacity: 0.3;
    z-index: -1;
  }