<% layout('/layouts/boilerplate') %>


<body class="bg-white position-relative">
  <!-- Hero Section -->
  <div class="container position-relative text-center pt-5 mt-5">
      <div class="bg-gradient-blur"></div>
      <div class="bg-gradient-blur-bottom"></div>
      
      <h2 class="display-4 fw-semibold text-dark">WonderLust</h2>
      <div class="py-5 color">
          <div class="d-none d-sm-flex justify-content-center mb-4">
        <div class="rounded-pill px-3 py-1 text-secondary large">
            Your World of Wonder, Shared with Friends.
        </div>
      </div>

      <h2 class="display-4 fw-semibold text-dark">Explore. Express. Experience.</h2>
      <p class="lead text-muted mt-4">
        Wonderlust is more than a social media platform — it's a global community where stories come alive. Whether you're a creator, a traveler, a thinker, or just curious — Wonderlust is your canvas.
      </p>

      <div class="mt-4 d-flex justify-content-center gap-3">
        <a href="/listing" class="btn btn-primary px-4 py-2">Get started</a>
      </div>
    </div>
  </div>

</body>