<% layout('layouts/boilerplate') %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <div class="container">
                    <h1>Create your list</h1>
                    <form method="post" action="/listing" novalidate class="needs-validation" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="title" class="form-lable">Title</label>
                            <input type="text" name='listing[title]' placeholder="Enter your title" required
                                class="form-control">
                            <div class="valid-feedback">Title looks good!</div> 
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-lable">Upload Image</label>
                            <input type="file" name='listing[image]' placeholder="Select your Image"
                                class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-lable">Description</label>
                            <textarea name='listing[description]' placeholder="Enter your description" required
                                class="form-control"></textarea>
                            <div class="invalid-feedback">Discription should be short.</div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-4">
                                <label for="price" class="form-lable">Price</label>
                                <input type="number" name='listing[price]' placeholder="Enter your price" required
                                    class="form-control">
                                <div class="invalid-feedback">Prise should be valid.</div>
                            </div>
                            <div class="mb-3 col-md-8">
                                <label for="country" class="form-lable">Country</label>
                                <input type="text" name='listing[country]' placeholder="Enter your country" required
                                    class="form-control">
                                <div class="invalid-feedback">Country name should be valid.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="location" class="form-lable">Location</label>
                            <input type="text" name='listing[location]' placeholder="Enter your location" required
                                class="form-control">
                            <div class="invalid-feedback">Location should be valid.</div>
                        </div>

                        <button class="btn btn-dark">submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>

    </html>